* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
}

.music-player {
    width: 400px;
    padding: 25px 35px;
    background-color: rgb(246, 215, 220);
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.circle {
    background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(229, 32, 98);
    box-shadow: 0px 10px 10px rgba(229, 32, 98, 0.3);
}

.song-img {
    width: 220px;
    border-radius: 50%;
    border: 8px solid white;
    box-shadow: 0px 5px 50px rgba(132, 13, 52, 0.8);
    margin-bottom: 30px;
}

.music-player h1 {
    font-size: 23px;
    color: #333;
    font-weight: 600;
}

.music-player p {
    color: #333;
    font-size: 15px;
    font-weight: 600;
}

#progress {
    margin-top: 40px;
    -webkit-appearance: none;
    width: 100%;
    background-color: rgb(245, 17, 93);
    height: 6px;
    border-radius: 10px;
    margin-bottom: 30px;
}

#progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: rgb(245, 17, 93);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 8px solid white;
}

.controls {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.controls div {
    background-color: white;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    line-height: 60px;
    color: rgb(245, 17, 93);
}

.controls div:nth-child(2) {
    background-color: rgb(245, 17, 93);
    color: white;
    transform: scale(1.5);
}