* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    background-color: rgb(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    width: 400px;
    padding: 25px 35px;
    border-radius: 10px;
}

.container .text {
    color: black;
    font-weight: 700;
}

.container input {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    margin-top: 20px;
    padding-left: 10px;
    border: none;
    outline: none;
    border: 2px solid rgb(127, 127, 219);

}

.image-box {
    width: 100%;
    margin: 20px 0px;
}

#image {
    width: 100%;
}

.btn {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: none;
    outline: none;
    color: white;
    background-color: rgb(62, 62, 222);
    font-weight: 900;
}

.image-box2 {
    padding: 10px;
    border: 1px solid rgb(189, 187, 187);
    border-radius: 5px;
    width: 300px;
    margin-inline: auto;

}

.color-red {
    font-size: 12px;
    color: red;
}

.error {
    animation: shake 0.1s linear 10;
}

@keyframes shake {
    0% {
        transform: translateX(0px);
    }

    25% {
        transform: translateX(-2px);
    }
    50% {
        transform: translateX(0px);
    }

    75% {
        transform: translateX(2px);
    }

    100% {
        transform: translateX(0px);
    }

}