* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body{
 background-color: rgb(252, 225, 188);
 display: flex;
 justify-content: center;
 align-items: center;
 height: 100vh;
}
.container
{
   background-color: white;
   padding: 35px 25px;
   border-radius: 20px;
   width: 350px;
}
.container h3{
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 25px;
}
form input,button
{
    height: 50px;
    width: 100%;
    border-radius: 10px;
    border: none;
    outline: none;
}

form select
{
    height: 40px;
    width: 100%;
    border-radius: 10px;
    border: none;
    outline: none;
}
.input-container
{
   margin-bottom: 20px;
}
#input-box
{
 border: 1px solid rgb(196, 193, 193);
 padding-left: 10px;
 font-size: 20px;
}
.dropDown
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px;
}
.to,.from
{
    border: 1px solid  rgb(196, 193, 193);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

    padding: 5px;
    padding-inline: 10px;
}
#image
{
    width: 35px;
}
i{
    font-size: 25px;
}
.msg
{
    margin: 30px 0px;
}
#btn{
    background-color: rgb(193, 59, 193);
    color:white;
    font-weight: 900;
    font-size: 20px;
}